@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



/*:::::Pie de Pagina*/
.piepagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a141d;
}



.piepagina .grupo2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.piepagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .piepagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}