.header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 10px;
    background-color: #4976A1;
}

.nav_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav_link {
    text-decoration: none;
    color: black;
}

.Logo {
    display: flex;
    align-items: center;
}

.img {
    height: 50px;
    margin-right: 10px;
}


.navbar .nav_link {
    font-weight: 600;
    padding-right: 15px;
}

.nav_link:hover {
    color: aliceblue;
}

@media(max-width:700px) {
    .header {
        display: flex;
        /* Asegúrate de que el contenedor tenga display flex */
        flex-direction: column;
        align-items: center;
    }

    .img {
        height: 35px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav_container {
        width: 100%;
        display: inline;
        /* Establezca el ancho al 100% para permitir que los enlaces se muestren debajo del logo */
    }

    .navbar {

        display: flex;
        justify-content: center;
        /* Centra los elementos de navegación horizontalmente */
    }

    .nav_link {
        margin: 0 5px;
    }
}