.header {
    position: absolute;
    padding: 0;
    background-color: #4976A1;
    width: 100vmax;
    height: 4vmax;
    margin: 0px;
    top: 0px;
    bottom: 0%;
}

.navbar {

    display: flex;
    list-style: none;
    gap: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    justify-content: right;
    padding-right: 1rem;
    align-items: center;
    position: relative;
}

.navbar a:hover {
    text-decoration: underline;
    color: #f0f0f0;

}

.sex {
    background-color: #6DA5FA;
    padding: 1% 1%;
    border-radius: 56px;

}